.navbar-default
{
    /*height: 80px;*/
}

.navbar-brand
{
    /*background-color: Red;*/
}

#welcoming-text
{
    align: right;
}

#task_help
{
    font-size: 10px;
}

#done_indicator
{
    color: Green;
}