{% extends "task_base_template.html" %}

{% block task_information %}
<p>Давайте попробуем составить стратегию тестирования TRACKS API.</p>
<p>В качестве помощи при составлении вы можете использовать <a href="http://www.satisfice.com/tools/htsm.pdf">HTSM</a> от Джеймса Баха.</p>
Чтобы немного ограничить задачу, предлагаю вам сконцентрироваться на следующих вещах:
<ol>
<li>Критерии качества (Quality Criteria) - какие критерии будут наиболее важными для API?</li>
<li>Техники тестирования - какие техники тестирования мы включим в стратегию?</li>
<li>Элементы продукта - из каких частей состоит продукт, какие функции он выполняет, с какими данными он работает?</li>
    <li>Автоматизация - будем ли мы автоматизировать тесты? Какие инструменты автоматизации будем использовать?</li>
</ol>
<p>Для наглядности вы можете написать основные положения вашей стратегии на бумаге - в формате списка по пунктам или mind map.</p>
<h3>Информация, материалы, подсказки</h3>
<dl>
    <dt>TRACKS API docs</dt>
    <dd><a href="http://192.168.8.104/integrations/rest_api">http://192.168.8.104/integrations/rest_api</a></dd>
    <dt>TRACKS API user credentials</dt>
    <dd>По умолчанию: user/bitnami</dd>
    <dt>HTSM</dt>
    <dd><a href="http://www.satisfice.com/tools/htsm.pdf">http://www.satisfice.com/tools/htsm.pdf</a></dd>
</dl>
{% endblock %}