{% extends "task_base_template.html" %}

{% block task_information%}
<p>С Postman вы, возможно, уже знакомы по связанному заданию (см. выше).</p>
<p>Теперь давайте попробуем использовать одну из самых полезных функций - работу с коллекциями запросов.</p>
<p>TBD</p>
<h3>Информация, материалы, подсказки</h3>
<dl>
    <dt>TRACKS API docs</dt>
    <dd><a href="http://192.168.154.128/integrations/rest_api">http://192.168.154.128/integrations/rest_api</a></dd>
    <dt>TRACKS API user credentials</dt>
    <dd>По умолчанию: user/bitnami</dd>
    <dt>Путь к Postman</dt>
    <dd>Ярлык на рабочем столе</dd>
</dl>
{% endblock %}