{% extends "task_base_template.html" %}

{% block task_information%}
<p>Коллекции запросов - одна из самых полезных функций Postman.</p>
<p>Они помогают структурировать запросы по типам или фичам, выполнять запуск наборов запросов через Runner.</p>
<p>Кроме того, вы можете делиться своими коллекциями с коллегами.</p>
В рамках данного задания:
<ol>
<li>
    Попробуйте создать коллекцию запросов. Например, вы можете назвать её "Работа с проектами" и поместить внутрь запросы по получению, созданию,
    изменению и удалению проекта.
</li>
<li>Запустите её через Collection Runner в Postman (Collection -> Runner).</li>
<li>Проанализируйте результаты запуска.</li>
</ol>
<h3>Информация, материалы, подсказки</h3>
<dl>
    <dt>TRACKS API docs</dt>
    <dd><a href="http://192.168.8.104/integrations/rest_api">http://192.168.8.104/integrations/rest_api</a></dd>
    <dt>TRACKS API user credentials</dt>
    <dd>По умолчанию: user/bitnami</dd>
    <dt>Путь к Postman</dt>
    <dd>Ярлык на рабочем столе</dd>
</dl>
{% endblock %}