{% extends "task_base_template.html" %}

{% block task_information%}
<p>Вообще-то, OWASP ZAP Proxy чаще используется для тестирования безопасности.</p>
<p>Но мы попробуем создать несколько юзеров при помощи функции Fuzzer.</p>
<p>Это будет не так просто:
    <ol>
        <li>Сначала вам нужно настроить использование нужного прокси в браузере.</li>
        <li>Записать запрос (через прокси OWASP ZAP Proxy), который посылается при создании пользователя в интерфейсе TRACKS.</li>
        <li>Найти функцию Fuzzer в интерфейсе OWASP ZAP Proxy, выделить параметр, изменяемый при отправке запросов, и задать значения, которые вы
        хотите подставлять.</li>
    </ol>
</p>
<p>В качестве домашнего задания :) - попробуйте подобным образом наполнить тестовый проект тестовыми задачами.</p>
<h3>Информация, материалы, подсказки</h3>
<dl>
    <dt>TRACKS API docs</dt>
    <dd><a href="http://192.168.154.128/integrations/rest_api">http://192.168.154.128/integrations/rest_api</a></dd>
    <dt>TRACKS API user credentials</dt>
    <dd>По умолчанию: user/bitnami</dd>
    <dt>Путь к OWASP ZAP Proxy</dt>
    <dd>Ярлык на рабочем столе</dd>
    <dt>Настройки прокси OWASP ZAP Proxy</dt>
    <dd>Tools -> Options: Local Proxy</dd>
    <dt>Настройка прокси в браузере</dt>
    <dd>Используйте FoxyProxy в Chrome, чтобы настроить браузер на порт, прослушиваемый OWASP ZAP Proxy.</dd>
</dl>
{% endblock %}