{% extends "task_base_template.html" %}

{% block task_information %}
<p>Выберите фичу TRACKS API и попробуйте протестировать её, используя разбиение на классы эквивалентности и анализ граничных значений.</p>
<p>Все как всегда - проверьте значения до, на и после границы :)</p>
<h3>Информация, материалы, подсказки</h3>
<dl>
    <dt>TRACKS API docs</dt>
    <dd><a href="http://192.168.8.104/integrations/rest_api">http://192.168.8.104/integrations/rest_api</a></dd>
    <dt>TRACKS API user credentials</dt>
    <dd>По умолчанию: user/bitnami</dd>
</dl>
{% endblock %}