{% extends "task_base_template.html" %}

{% block task_information %}
<p>После того, как вы уже достаточно погрузились в тестирование API, предлагаю вам попробовать нагрузить TRACKS.</p>
<p>Задание для Advanced участников, которые либо умеют работать с jMeter-ом, либо хотят научиться.</p>
Вот примерные шаги:
<ul>
    <li>Давайте для начала запустим jMeter (см. ниже).</li>
    <li>Создадим Sampler "HTTP request".</li>
    <li>Дальше будут долгие эксперименты с настройками и параметрами семплера. С моей стороны будет недобросовестно оставить вас с этим один
    на один. Но это я и сделаю :)</li>
    <li>После того, как вы разберетесь с тем, как успешно посылать один запрос, остальное - дело техники: увеличиваете число потоков, задаете число
    повторений - и вперед!</li>
</ul>
<strong>Нагрузочный тест будет считаться успешным, если своими запросами вы обрушите сервер и парализуете работу других :)</strong>
<h3>Информация, материалы, подсказки</h3>
<dl>
    <dt>TRACKS API docs</dt>
    <dd><a href="http://192.168.8.104/integrations/rest_api">http://192.168.8.104/integrations/rest_api</a></dd>
    <dt>TRACKS API user credentials</dt>
    <dd>По умолчанию: user/bitnami</dd>
    <dt>Путь к jMeter</dt>
    <dd>Ярлык на рабочем столе</dd>
</dl>
{% endblock %}