{% extends "task_base_template.html" %}

{% block task_information %}
<p>Наверное вы, как и я, только слышали о парном программировании и парном тестировании.</p>
<p>И поэтому Test Camp на SQA Days - идеальное место, чтобы попробовать наконец-то!</p>
Вот примерные шаги:

<h3>Информация, материалы, подсказки</h3>
<dl>
    <dt>TRACKS API docs</dt>
    <dd><a href="http://192.168.8.104/integrations/rest_api">http://192.168.8.104/integrations/rest_api</a></dd>
    <dt>TRACKS API user credentials</dt>
    <dd>По умолчанию: user/bitnami</dd>
    <dt>Инструменты</dt>
    <dd>См. ярлыки на рабочем столе</dd>
</dl>
{% endblock %}