{% extends "task_base_template.html" %}

{% block task_information%}
Знакомьтесь:
<ul>
<li>TRACKS - open source приложение для улучшения личной эффективности. Это приложение использует подход GTD (getting things done) к тайм менеджменту.
</li>
<li>Postman - инструмент, специально созданный для того, чтобы ускорить разработку и тестирование API.
</li>
</ul>
<p>Попробуйте в Postman выполнить запросы из документации TRACKS API (ссылка ниже). Например: получение контекста, todo, проекта;
создание проекта, todo, контекста; изменение и удаление сущностей. </p>
<p>Когда освоитесь с выполнением простых запросов - попробуйте использовать переменные окружения для параметризации запросов. Например, вы можете
сделать url сервера переменной, тогда вам не придется вручную переписывать все запросы при изменении адреса сервера.</p>
<p>Если вы еще не заметили, скажу по секрету: в Postman есть возможность создания простых тестов для каждого респонса. Попробуйте :)</p>
<h3>Информация, материалы, подсказки</h3>
<dl>
    <dt>TRACKS API docs</dt>
    <dd><a href="http://192.168.154.128/integrations/rest_api">http://192.168.154.128/integrations/rest_api</a></dd>
    <dt>TRACKS API user credentials</dt>
    <dd>По умолчанию: user/bitnami</dd>
    <dt>Путь к Postman</dt>
    <dd>Ярлык на рабочем столе</dd>
</dl>
{% endblock %}