{% extends "task_base_template.html" %}

{% block task_information%}
<ol>Шаги выполнения:
    <li>Изучить документацию TRACKS API: http://192.168.154.128/integrations/rest_api</li>
    <li>
        <ol>Выполнить примеры из документации при помощи curl:
            <li>Получение контекста, todo, проекта</li>
            <li>Создание проекта, todo, контекста</li>
            <li>Изменение и удаление сущностей</li>
        </ol>
    </li>
    <li>Изучить формат посылаемых curl HTTP запросов через прокси Fiddler</li>
    <li>
        <ol>Выполнить пользовательский сценарий:
            <li>Создать проект</li>
            <li>Создать несколько todo сущностей</li>
            <li>Пометить одну из todo как выполненную</li>
            <li>Изменить одну из todo активностей</li>
        </ol>
    </li>
</ol>
{% endblock %}