{% extends "task_base_template.html" %}

{% block task_information %}
<p>Наверное вы раньше слышали о парном программировании и парном тестировании.</p>
<p>И, наверное, ни разу не пробовали :)</p>
<p>В любом случае, предлагаем вам попробовать.</p>
Вот примерные шаги:
<ul>
    <li>Найдите коллегу-партнера-сопарника-такого_же_энтузиаста_парного_тестирования</li>
    <li>Выберите тему сессии (вы можете ориентироваться на задания на этом сайте)</li>
    <li>Хотя бы условно разделите обязанности. Например, один человек печатает и кликает, другой - руководит :)</li>
    <li>Проведите сессию тестирования</li>
    <li>Обсудите, насколько хорошо или плохо тестировать вдвоем</li>
</ul>
<p>Удачи и успехов вам в этом нелегком деле!</p>
<h3>Информация, материалы, подсказки</h3>
<dl>
    <dt>TRACKS API docs</dt>
    <dd><a href="http://192.168.154.128/integrations/rest_api">http://192.168.154.128/integrations/rest_api</a></dd>
    <dt>TRACKS API user credentials</dt>
    <dd>По умолчанию: user/bitnami</dd>
    <dt>Инструменты</dt>
    <dd>См. ярлыки на рабочем столе</dd>
</dl>
{% endblock %}