{% extends "task_base_template.html" %}

{% block task_information%}
<p>Вообще-то, утилита OWASP ZAP Proxy, которую мы будем использовать в этом задании, чаще применяется для тестирования безопасности.</p>
<p>Но мы попробуем создать при помощи неё набор TRACKS юзеров.</p>
<p>Предупреждаю, что это сделать непросто:
    <ol>
        <li>Сначала нужно настроить использование прокси в браузере.</li>
        <li>Дальше - записать запрос (используя прокси OWASP ZAP Proxy), который посылается при создании пользователя в интерфейсе TRACKS.</li>
        <li>Найти функцию Fuzzer в интерфейсе OWASP ZAP Proxy</li>
        <li>Выделить параметр, изменяемый при отправке запросов, и задать значения, которые вы хотите подставлять.</li>
    </ol>
</p>
<p>В качестве дополнительного задания :) - попробуйте подобным образом наполнить TRACKS задачами.</p>
<h3>Информация, материалы, подсказки</h3>
<dl>
    <dt>TRACKS API docs</dt>
    <dd><a href="http://192.168.154.128/integrations/rest_api">http://192.168.154.128/integrations/rest_api</a></dd>
    <dt>TRACKS API user credentials</dt>
    <dd>По умолчанию: user/bitnami</dd>
    <dt>Путь к OWASP ZAP Proxy</dt>
    <dd>Ярлык на рабочем столе</dd>
    <dt>Настройки прокси OWASP ZAP Proxy</dt>
    <dd>Tools -> Options: Local Proxy</dd>
    <dt>Настройка прокси в браузере</dt>
    <dd>Используйте FoxyProxy в Chrome, чтобы настроить браузер на порт, прослушиваемый OWASP ZAP Proxy.</dd>
</dl>
{% endblock %}