{% extends "task_base_template.html" %}

{% block task_information%}
Знакомьтесь:
<ul>
<li>TRACKS - open source приложение для улучшения личной эффективности. Это приложение использует подход GTD (getting things done) к тайм менеджменту.
</li>
<li>Postman - инструмент, специально созданный для тестирования API.
</li>
</ul>
<p>Попробуйте выполнить запросы из документации TRACKS API (ссылка ниже) в Postman.
    Например, получение, создание и удаление сущностей (контекстов, задач, проектов). </p>
<p>Когда освоитесь с выполнением простых запросов - попробуйте использовать переменные окружения для параметризации запросов. Например, вы можете
сделать url сервера переменной, тогда вам не придется вручную переписывать все запросы при изменении адреса сервера.</p>
<p>По секрету: в Postman есть возможность создания простых тестов для каждого респонса. Можете попробовать :)</p>
<h3>Информация, материалы, подсказки</h3>
<dl>
    <dt>TRACKS API docs</dt>
    <dd><a href="http://192.168.154.128/integrations/rest_api">http://192.168.154.128/integrations/rest_api</a></dd>
    <dt>TRACKS API user credentials</dt>
    <dd>По умолчанию: user/bitnami</dd>
    <dt>Путь к Postman</dt>
    <dd>Ярлык на рабочем столе</dd>
</dl>
{% endblock %}