{% extends "base.html" %}

{% block title %}Задания{% endblock %}

{% block content %}
<div class="container">
	<ol class="breadcrumb">
        <li><a href="{% url 'main' %}">Главная</a></li>
        <li><a href="{% url 'tasks:tasks' %}">Задания</a></li>
		<li class="active">{{ theme }}</li>
    </ol>
    {% if theme %}
		<div class="page-header">
        	<h3>Задания по теме {{ theme }}</h3>
    	</div>
		{% if tasks_list %}
			<ul>Задания:
			{% for task in tasks_list %}
				<li><a href="{% url 'tasks:task' task.id %}">{{ task.title }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>Нет задач по теме {{ theme }}.</p>
		{% endif %}
	{% else %}
		<div class="page-header">
        	<h3>Задания</h3>
    	</div>
		{% if tasks_list %}
			<ul>Задания:
			{% for task in tasks_list %}
				<li><a href="{% url 'tasks:task' task.id %}">{{ task.title }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>Нет задач в списке.</p>
		{% endif %}
	{% endif %}
</div>
{% endblock %}