{% extends "base.html" %}

{% load static %}
{% block custom_static %}
    <!-- Custom styles for this template -->
    <link href="{% static "css/jumbotron-narrow.css" %}" rel="stylesheet">
    <link href="{% static "css/event_styles.css" %}" rel="stylesheet">

    <script src='{% static "js/react.js" %}'></script>
    <script src='{% static "js/react-dom.js" %}'></script>
    <!--<script src='{% static "js/require.js" %}'></script>-->
    <!--<script src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.js'></script>-->
    <script src='{% static "js/browser_babel.js" %}'></script>
{% endblock custom_static %}

{% block title %}{{ task.title }}{% endblock %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'main' %}">Главная</a></li>
        <li><a href="{% url 'tasks:tasks' %}">Задания</a></li>
        <li><a href="{% url 'tasks:theme_tasks' task.task_theme %}">{{ task.task_theme }}</a></li>
        <li class="active">{{ task.title }}</li>
    </ol>
    {% if user.is_authenticated %}
        {% if status.state == "RUNNING" %}
            Прошло времени: {{ status.duration }}<br>
            <a href="{% url 'tasks:stop' task.id %}">Остановить</a>
            <a href="{% url 'tasks:finish' task.id %}">Завершить</a>
        {% elif status.state == "IDLE" %}
            Прошло времени: {{ status.duration }}<br>
            <a href="{% url 'tasks:start' task.id %}">Начать</a><br>
        {% elif status.state == "STOPPED" %}
            Прошло времени: {{ status.duration }}<br>
            <a href="{% url 'tasks:come_back' task.id %}">Вернуться</a><br>
            <a href="{% url 'tasks:finish' task.id %}">Завершить</a>
        {% elif status.state == "FINISHED" %}
            Прошло времени: {{ status.duration }}<br>
            Поздравляем, вы завершили задание! Вам открылись задания: TBD.
        {% endif %}
    {% else %}
        <p>Вы должны авторизоваться перед тем, как начать задачу.</p>
    {% endif %}
    <div class="page-header">
            <h3>{{ task.title }}</h3>
        </div>
    <div class="well">
        {{ task.description }}
    </div>

</div>
{% endblock %}