{% extends "base.html" %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
{% load staticfiles %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'main' %}">Главная</a></li>
        <li class="active">Личный кабинет</li>
    </ol>
    <div class="page-header">
        <h3>Личный кабинет {{ user.username }}</h3>
    </div>
    {% if user.is_authenticated %}
        Имя пользователя: {{ user.username }}<br>
        <a href="{% url 'cabinet:edit_profile' user.id %}">Редактировать профиль пользователя</a>
    {% endif %}
</div>
{% endblock %}