{% extends "base.html" %}

{% load static %}
{% block custom_static %}
    <!-- Custom styles for this template -->
    <link href="{% static "css/jumbotron-narrow.css" %}" rel="stylesheet">
{% endblock custom_static %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="container">
    {% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'main' %}">Главная</a></li>
        <li class="active">О нас</li>
    </ol>
    {% endblock %}
</div>
{% endblock %}