{% extends "base.html" %}

{% block title %}Войти на сайт{% endblock %}

{% block section_title %}
{% endblock section_title %}

{% block content %}
<div class="container">
    {% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'main' %}">Главная</a></li>
        <li class="active">Войти</li>
    </ol>
    {% endblock %}
    {% if wrong_details %}
        <div class="alert alert-warning" role="alert">
            <p style="color:red">Введённые логин или пароль неправильны. Попробуйте еще раз.</p>
        </div>
    {% endif %}
    <form id="login_form" method="post" action="{% url 'login' %}">
        <div class="form-group row">
            <div class="col-md-6">
                {% csrf_token %}
                <label for="user_name">Имя пользователя</label>
                <input type="text" name="username" value="" size="50" class="form-control" id="user_name"
                       placeholder="Ваше имя"/>
                <label for="user_password">Пароль</label>
                <input type="password" name="password" value="" size="50" class="form-control" id="user_password"
                         placeholder="Ваш пароль"/>
                <input type="hidden" name="next" value="{{ next }}">
                <a href="{% url 'register' %}">Регистрация</a><br>
                <input type="submit" value="Войти" class="btn-sm btn-default"/>
            </div>
        </div>
    </form>
</div>
{% endblock %}