{% extends "base.html" %}
{% block custom_static %}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
{% endblock custom_static%}
{% block title %}Test Lab Site - Главная страница{% endblock %}
{% load static from staticfiles %}
{% block logo %}
<div class="navbar-brand">
<a href="#">
    SQA DAYS-21 TEST LAB SITE
  <!--<img src="{% static "img/logo_0205_extra_small.png" %}">-->
</a>
</div>
{% endblock logo %}

{% block section_title %}
{% endblock section_title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% if user.is_authenticated %}
                <div id="welcoming-text" class="alert alert-success" role="alert">Вы вошли как <a href="{% url 'cabinet:view_cabinet' user.id %}">
                    {{ user.username }}</a>
                </div>
            {% endif %}
        </div>
    </div>
    <ol class="breadcrumb">
        <li class="active">Главная</li>
    </ol>
    <div class="page-header">
        <h3>Расписание тестовой лаборатории</h3>
    </div>
    <div class="container-fluid text-center bg-grey">
        <h2>26 МАЯ</h2>
        <h4>Расписание тестовой лаборатории</h4>
        <div class="row text-center">
            <div class="col-sm-3">
              <div class="thumbnail">
                <img src="{% static "img/api.png" %}" alt="API">
                <p><strong>API</strong></p>
                <p>Тестирование и HTTP</p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="thumbnail">
                <img src="{% static "img/iot.png" %}" alt="IoT">
                <p><strong>Internet of Things</strong></p>
                <p>Скоро заполонит</p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="thumbnail">
                <img src="{% static "img/et.png" %}">
                <p><strong>ИТ</strong></p>
                <p>Старое доброе исследовательское тестирование</p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="thumbnail">
                <img src="{% static "img/games.png" %}" alt="Games">
                <p><strong>Игры</strong></p>
                <p>Let's play?!</p>
              </div>
            </div>
        </div>
    <div class="row">
        <b>26 мая</b>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            10:00 - 12:00
            {% with theme="API" %}
                <a href="{% url 'tasks:theme_tasks' theme %}" class="thumbnail">
                    <img src="{% static "img/api.png" %}">
                </a>
            {% endwith %}
        </div>
        <div class="col-xs-6 col-md-3">
            12:00 - 14:00
            {% with theme="IOT" %}
            <a href="{% url 'tasks:theme_tasks' theme %}" class="thumbnail">
                <img src="{% static "img/iot.png" %}">
            </a>
            {% endwith %}
        </div>
        <div class="col-xs-6 col-md-3">
            14:00 - 16:00
            {% with theme="ET" %}
            <a href="{% url 'tasks:theme_tasks' theme %}" class="thumbnail">
                <img src="{% static "img/et.png" %}">
            </a>
            {% endwith %}
        </div>
        <div class="col-xs-6 col-md-3">
            16:00 - 18:00
            {% with theme="games" %}
            <a href="{% url 'tasks:theme_tasks' theme %}" class="thumbnail">
                <img src="{% static "img/games.png" %}">
            </a>
            {% endwith %}
        </div>
    </div>
    <div class="row">
        <b>27 мая</b>
        </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            10:00 - 12:00
            {% with theme="API" %}
                <a href="{% url 'tasks:theme_tasks' theme %}" class="thumbnail">
                    <img src="{% static "img/api.png" %}">
                </a>
            {% endwith %}
        </div>
        <div class="col-xs-6 col-md-3">
            12:00 - 14:00
            {% with theme="IOT" %}
            <a href="{% url 'tasks:theme_tasks' theme %}" class="thumbnail">
                <img src="{% static "img/iot.png" %}">
            </a>
            {% endwith %}
        </div>
        <div class="col-xs-6 col-md-3">
            14:00 - 16:00
            {% with theme="ET" %}
            <a href="{% url 'tasks:theme_tasks' theme %}" class="thumbnail">
                <img src="{% static "img/et.png" %}">
            </a>
            {% endwith %}
        </div>
        <div class="col-xs-6 col-md-3">
            16:00 - 18:00
            {% with theme="games" %}
            <a href="{% url 'tasks:theme_tasks' theme %}" class="thumbnail">
                <img src="{% static "img/games.png" %}">
            </a>
            {% endwith %}
        </div>
    </div>
</div>
</div>
{% endblock %}


