{% extends "base.html" %}

{% block title %}Test Lab Site - Главная страница{% endblock %}

{% load static from staticfiles %}
{% block logo %}
<div class="navbar-brand">
<a href="#">
    SQA DAYS-21 TEST LAB SITE
  <!--<img src="{% static "img/logo_0205_extra_small.png" %}">-->
</a>
</div>
{% endblock logo %}

{% block section_title %}
{% endblock section_title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% if user.is_authenticated %}
                <div id="welcoming-text" class="alert alert-success" role="alert">Вы вошли как <a href="{% url 'cabinet:view_cabinet' user.id %}">
                    {{ user.username }}</a>
                </div>
            {% endif %}
        </div>
    </div>
    <ol class="breadcrumb">
        <li class="active">Главная</li>
    </ol>
    <div class="page-header">
        <h3>Расписание тестовой лаборатории</h3>
    </div>
    <div class="row">
        <b>26 мая</b>
        </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            10:00 - 12:00
            {% with theme="API" %}
                <a href="{% url 'tasks:theme_tasks' theme %}" class="thumbnail">
                    <img src="{% static "img/api.png" %}">
                </a>
            {% endwith %}
        </div>
        <div class="col-xs-6 col-md-3">
            12:00 - 14:00
            {% with theme="IOT" %}
            <a href="{% url 'tasks:theme_tasks' theme %}" class="thumbnail">
                <img src="{% static "img/iot.png" %}">
            </a>
            {% endwith %}
        </div>
        <div class="col-xs-6 col-md-3">
            14:00 - 16:00
            {% with theme="ET" %}
            <a href="{% url 'tasks:theme_tasks' theme %}" class="thumbnail">
                <img src="{% static "img/et.png" %}">
            </a>
            {% endwith %}
        </div>
        <div class="col-xs-6 col-md-3">
            16:00 - 18:00
            {% with theme="games" %}
            <a href="{% url 'tasks:theme_tasks' theme %}" class="thumbnail">
                <img src="{% static "img/games.png" %}">
            </a>
            {% endwith %}
        </div>
    </div>
    <div class="row">
        <b>27 мая</b>
        </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            10:00 - 12:00
            {% with theme="API" %}
                <a href="{% url 'tasks:theme_tasks' theme %}" class="thumbnail">
                    <img src="{% static "img/api.png" %}">
                </a>
            {% endwith %}
        </div>
        <div class="col-xs-6 col-md-3">
            12:00 - 14:00
            {% with theme="IOT" %}
            <a href="{% url 'tasks:theme_tasks' theme %}" class="thumbnail">
                <img src="{% static "img/iot.png" %}">
            </a>
            {% endwith %}
        </div>
        <div class="col-xs-6 col-md-3">
            14:00 - 16:00
            {% with theme="ET" %}
            <a href="{% url 'tasks:theme_tasks' theme %}" class="thumbnail">
                <img src="{% static "img/et.png" %}">
            </a>
            {% endwith %}
        </div>
        <div class="col-xs-6 col-md-3">
            16:00 - 18:00
            {% with theme="games" %}
            <a href="{% url 'tasks:theme_tasks' theme %}" class="thumbnail">
                <img src="{% static "img/games.png" %}">
            </a>
            {% endwith %}
        </div>
    </div>
</div>
</div>
{% endblock %}


