{% extends "base.html" %}

{% load staticfiles %}
{% block custom_static %}
    <!-- Custom styles for this template -->
    <link href="{% static "css/jumbotron-narrow.css" %}" rel="stylesheet">
    <link href="{% static "css/event_styles.css" %}" rel="stylesheet">

    <script src='{% static "js/react.js" %}'></script>
    <script src='{% static "js/react-dom.js" %}'></script>
    <!--<script src='{% static "js/require.js" %}'></script>-->
    <!--<script src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.js'></script>-->
    <script src='{% static "js/browser_babel.js" %}'></script>
{% endblock custom_static %}

{% block title %}{{ task.title }}{% endblock %}

{% block content %}
<div class="container">
    {% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'main' %}">Главная</a></li>
        <li><a href="{% url 'tasks:tasks' %}">Задания</a></li>
        <li><a href="{% url 'tasks:theme_tasks' task.task_theme %}">{{ task.task_theme }}</a></li>
        <li class="active">{{ task.title }}</li>
    </ol>
    {% endblock %}
    {% block button_panel %}
    {% if user.is_authenticated %}
        {% if status.state == "RUNNING" %}
            Прошло времени: {{ status.duration }}<br>
            <a href="{% url 'tasks:stop' task.id %}">Остановить</a>
            <a href="{% url 'tasks:finish' task.id %}">Завершить</a>
        {% elif status.state == "IDLE" %}
            Прошло времени: {{ status.duration }}<br>
            {% if linked_task and linked_task_finished %}
                <a href="{% url 'tasks:start' task.id %}">Начать</a><br>
            {% elif linked_task and not linked_task_finished %}
                У задачи есть связанная задача. Чтобы начать - пожалуйста, выполните связанную задачу (см. ссылку ниже).
            {% elif not linked_task %}
                <a href="{% url 'tasks:start' task.id %}">Начать</a><br>
            {% endif %}
        {% elif status.state == "STOPPED" %}
            Прошло времени: {{ status.duration }}<br>
            <a href="{% url 'tasks:come_back' task.id %}">Вернуться</a><br>
            <a href="{% url 'tasks:finish' task.id %}">Завершить</a>
        {% elif status.state == "FINISHED" %}
            Прошло времени: {{ status.duration }}<br>
            Поздравляем, вы завершили задание!
            {% if dependant_task %}
                Вам открылись задания:
                <a href="{% url 'tasks:task' dependant_task.id %}">{{ dependant_task.code }}: {{ dependant_task.title }} </a>
             {% endif %}
        {% endif %}
    {% else %}
        <p>Вы должны авторизоваться перед тем, как начать задачу.</p>
    {% endif %}
    {% endblock %}
    {% block task_title%}
    <div class="page-header">
            <h3>{{task.code}}: {{ task.title }}</h3>
        </div>
    {% endblock %}
    {% block task_content%}
    {% if linked_task %}
        <p>
        Связанная задача: <a href="{% url 'tasks:task' linked_task.id %}">{{ linked_task.code }}: {{ linked_task.title }} </a>
        </p>
    {% endif %}
    <div class="well">
        {{ task.description }}
    </div>
    {% block task_information %}
    {% endblock %}
    {% endblock %}
</div>
{% endblock %}